@model Assignment1.DAL.Models.Ticket

@{
    ViewData["Title"] = "NewTicket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>NewTicket</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NewTicket">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PerformanceId" class="control-label"></label>
                <input asp-for="PerformanceId" class="form-control" />
                <span asp-validation-for="PerformanceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NrOfPlaces" class="control-label"></label>
                <input asp-for="NrOfPlaces" class="form-control" />
                <span asp-validation-for="NrOfPlaces" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

